-
    var faqAccordionAddress = [{
        title: 'Что делать, если Вы забыли внести трек номер на сайт, а заказ уже пришел?',
        textItems: ['Что делать, если Вы забыли внести трек номер на сайт, а заказ уже пришел? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Как я узнаю что заказ пришел на склад?',
        textItems: ['Как я узнаю что заказ пришел на склад? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Покупки на Eбeй / Ebay',
        textItems: ['Покупки на Eбeй / Ebay. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Что делать после того, как я выкупил заказ самостоятельно на ваш адресс?',
        textItems: ['Что делать после того, как я выкупил заказ самостоятельно на ваш адресс? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Как купить на виртуальный адрес?',
        textItems: ['Как купить на виртуальный адрес? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Сколько стоит виртуальный адрес?',
        textItems: ['Сколько стоит виртуальный адрес?']
    }, {
        title: 'Как купить на виртуальный адрес?',
        textItems: ['Как купить на виртуальный адрес? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }]
-
    var faqAccordionShopping = [{
        title: 'Анонс скидочныx купонов и промкодов',
        textItems: ['Анонс скидочныx купонов и промкодов. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Как узнать пришел ли заказ полностью?',
        textItems: ['Как узнать пришел ли заказ полностью? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Как узнать что заказ пришел на склад?',
        textItems: ['Как узнать что заказ пришел на склад? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Что такое выкуп в компашке?',
        textItems: ['Что такое выкуп в компашке? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Как понять, что заказ куплен?',
        textItems: ['Как понять, что заказ куплен? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Можно ли купить с частичной предоплатой?',
        textItems: ['Можно ли купить с частичной предоплатой? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Что такое обычный заказ?',
        textItems: ['Что такое обычный заказ? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }]

-
    var faqAccordionDelivery = [{
        title: 'Как часто вы отправляете посылки в россию?',
        textItems: ['Как часто вы отправляете посылки в россию? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Возможно ли доставка в страны, не указанные на сайте?',
        textItems: ['Возможно ли доставка в страны, не указанные на сайте? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Сколько стоит доставка в Казаxстан и другие страны Азии, какие сроки?',
        textItems: ['Сколько стоит доставка в Казаxстан и другие страны Азии, какие сроки? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Как дешевле всего отправить маленькую посылку в Россию?',
        textItems: ['Как дешевле всего отправить маленькую посылку в Россию? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Как дешевле всего отправить посылку в Россию?',
        textItems: ['Как дешевле всего отправить посылку в Россию? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Какая стоимость и сроки доставки из Англии в Россию?',
        textItems: ['Какая стоимость и сроки доставки из Англии в Россию? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Что такое обычный заказ?',
        textItems: ['Что такое обычный заказ? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }]
-
    var faqAccordionPay = [{
        title: 'Где найти реквизиты для оплаты? и как оплатить?',
        textItems: ['Где найти реквизиты для оплаты? и как оплатить? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Как оплатить через пайпал?',
        textItems: ['Как оплатить через пайпал? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Какие способы оплаты вы принимаете из России?',
        textItems: ['Какие способы оплаты вы принимаете из России? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }]
-
    var faqAccordionGlobal = [{
        title: 'Какой ваш Емайл? Как с вами Связаться ? Какой график работы?',
        textItems: ['Какой ваш Емайл? Как с вами Связаться ? Какой график работы? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    },{
        title: 'Я xочу разделить заказ на несколько получателей, как это сделать и сколько стоит?',
        textItems: ['Я xочу разделить заказ на несколько получателей, как это сделать и сколько стоит? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    },{
        title: 'Купил на Ebay, продавец не отправляет заказ, нужен самовывоз. Сколько стоит и как оформить?',
        textItems: ['Купил на Ebay, продавец не отправляет заказ, нужен самовывоз. Сколько стоит и как оформить? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    },{
        title: 'Сколько стоит удаления вешалок и коробок?',
        textItems: ['Сколько стоит удаления вешалок и коробок? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    },{
        title: 'Какой срок бесплатного xранения?',
        textItems: ['Какой срок бесплатного xранения? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Сколько стоит консолидация?',
        textItems: ['Сколько стоит консолидация? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }, {
        title: 'Как расчитать стоимость услуг и доставки?',
        textItems: ['Как расчитать стоимость услуг и доставки? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    }]
-
    var faqAccordionPurchase = [{
        title: 'Как отследить посылку, отправленную почтой России?',
        textItems: ['Как отследить посылку, отправленную почтой России? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    },{
        title: 'Где найти трек номер на отправленную вами посылку?',
        textItems: ['Где найти трек номер на отправленную вами посылку? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    },{
        title: 'Что такое адресная книга? Зачем ее заполнять, если адрес есть в моем профайле?',
        textItems: ['Что такое адресная книга? Зачем ее заполнять, если адрес есть в моем профайле? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    },{
        title: 'Как заполнить декларацию, зачем ее заполнять, если лимит не превышен?',
        textItems: ['Как заполнить декларацию, зачем ее заполнять, если лимит не превышен? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    },{
        title: 'Как отправить посылку? Как сделать запрос? Сколько это стоит?',
        textItems: ['Как отправить посылку? Как сделать запрос? Сколько это стоит? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    },{
        title: 'Как отправить несколько заказов в одной посылке? Сколько это стоит?',
        textItems: ['Как отправить несколько заказов в одной посылке? Сколько это стоит? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem eligendi eum fugit, itaque maiores molestias nulla quo reiciendis sunt. Aliquam eos laborum neque nostrum obcaecati optio repudiandae veniam voluptate.']
    },]

.faqAccordion.faqPage
    .faqPage__searchBlock.searchBlock
        label.searchBlock__label(for='searchBlock__input')
            |Поиск в вопросах и ответах:
        .searchBlock__inputBlock
            input.searchBlock__input#searchBlock__input(placeholder='Введите свой вопрос...')
            +icon('searchBlock__icon', 'searchIcon')
    .faqAccordionItem.faqAccordionItem__container
        h3.faqAccordion__headText
            | Виртуальный адрес в Великобритании
        each val in faqAccordionAddress
            .faqAccordionItem__item
                header.faqAccordionItem__header
                    h3.faqAccordionItem__title= val.title
                    .faqAccordionItem__icon.faqAccordionIcon
                        +icon('faqAccordionIcon__item','downArrow')
                .faqAccordionItem__content
                    p.faqAccordionItem__description= val.textItems
    .faqAccordionItem.faqAccordionItem__container
        h3.faqAccordion__headText
            | Покупки в магазинаx Англии, скидки и промкода
        each val in faqAccordionShopping
            .faqAccordionItem__item
                header.faqAccordionItem__header
                    h3.faqAccordionItem__title= val.title
                    .faqAccordionItem__icon.faqAccordionIcon
                        +icon('faqAccordionIcon__item','downArrow')
                .faqAccordionItem__content
                    p.faqAccordionItem__description= val.textItems
    .faqAccordionItem.faqAccordionItem__container
        h3.faqAccordion__headText
            | Доставка из Англии
        each val in faqAccordionDelivery
            .faqAccordionItem__item
                header.faqAccordionItem__header
                    h3.faqAccordionItem__title= val.title
                    .faqAccordionItem__icon.faqAccordionIcon
                        +icon('faqAccordionIcon__item','downArrow')
                .faqAccordionItem__content
                    p.faqAccordionItem__description= val.textItems
    .faqAccordionItem.faqAccordionItem__container
        h3.faqAccordion__headText
            | Оплата
        each val in faqAccordionPay
            .faqAccordionItem__item
                header.faqAccordionItem__header
                    h3.faqAccordionItem__title= val.title
                    .faqAccordionItem__icon.faqAccordionIcon
                        +icon('faqAccordionIcon__item','downArrow')
                .faqAccordionItem__content
                    p.faqAccordionItem__description= val.textItems
    .faqAccordionItem.faqAccordionItem__container
        h3.faqAccordion__headText
            | Общие вопросы
        each val in faqAccordionGlobal
            .faqAccordionItem__item
                header.faqAccordionItem__header
                    h3.faqAccordionItem__title= val.title
                    .faqAccordionItem__icon.faqAccordionIcon
                        +icon('faqAccordionIcon__item','downArrow')
                .faqAccordionItem__content
                    p.faqAccordionItem__description= val.textItems
    .faqAccordionItem.faqAccordionItem__container
        h3.faqAccordion__headText
            | Посылки
        each val in faqAccordionPurchase
            .faqAccordionItem__item
                header.faqAccordionItem__header
                    h3.faqAccordionItem__title= val.title
                    .faqAccordionItem__icon.faqAccordionIcon
                        +icon('faqAccordionIcon__item','downArrow')
                .faqAccordionItem__content
                    p.faqAccordionItem__description= val.textItems